/*estilização da pagina principal*/
header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 100px;
}

section{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;

}
.bloco{
  border: 1px solid black;
  margin: 15px;
  font-size: 20px;
  text-align: center;
  
}
img{
  width: 100%;
}
ul{
  height: 100%;
  border-right: 2px solid black;
}

footer{
  background-color: gray;
  text-align: center;
  font-size: 30px;
}
/*estilização da pagina video 1*/

header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 100px;
}
footer{
  background-color: gray;
  text-align: center;
}

video{
width: 500px;
height: 500px;
}
/*estilização da pagina video 2*/

header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 100px;
}
footer{
  background-color: gray;
  text-align: center;
}