.letra{
    font-family: 'Fruktur', cursive;
    text-align: center;
}
.fundo{
    background-color: lightblue;
}
.titulo1{
    font-family: 'Fruktur', cursive;
}
.titulo2{
    font-family: 'Fruktur', cursive;

}